.nav-button {
  width: 2.5rem;
  background: rgba($main-color, $backgound-opacity);
  height: 2rem;
  vertical-align: middle;
  text-align: center;
  margin-left: 0.3rem;
}
.menu-btn {
  background: rgba($main-color, $backgound-opacity);
  border: none;
  cursor: pointer;
}
.btn-line {
  height: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  margin: 0.3rem;
  border-radius: 5px;
}
