.nav-button {
  width: 2.5rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.menu-btn {
  background: rgba($main-color, 0.1);
  border: none;
  @include ease-out();
}
.btn-line {
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: $white-color;
  margin: 0.3rem;
  border-radius: 5px;
}

.close {
}

.show {
}
.menu {
  display: none;
}
.nav-items {
  list-style: none;
}
a {
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
}
