.nav-button {
  width: 2.5rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}
.menu-btn {
  background: rgba($main-color, 0.1);
  border: none;
  cursor: pointer;
  @include ease-out();
}
.btn-line {
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: $white-color;
  margin: 0.3rem;
  border-radius: 5px;
}
