@media (max-width: 40rem) {
  h1.lg-heading {
    font-size: 5rem;
    line-height: 4rem;
  }
  .text {
    display: inline-block;
    width: 80vw;
  }
}
@media (max-width: 34rem) {
  h1.lg-heading {
    font-size: 4.5rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  main#home {
    padding: 0;
    top: 12rem;
    text-align: center;
  }
  div.text {
    width: 100vw;
  }
}
@media (max-width: 28rem) {
  h1.lg-heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.2rem;
  }
  .sm-heading {
    font-size: 1rem;
  }
}
