@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  max-width: 70rem;
  @include background;
  background-color: $main-color;
  color: $white-color;
  height: 100vh;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
header {
  position: fixed;
  z-index: 10;
  width: 100vw;
}
main {
  padding: 4rem;
  z-index: 2;
  position: relative;
  top: 9.3rem;
  .icons {
    a {
      display: inline-block;
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }
  &#home {
    overflow: hidden;
  }
}
h1,
h2 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    line-height: 5.4rem;
    margin: 0 0 1.3rem 0;
  }

  &.sm-heading {
    margin: 0;
    padding-bottom: 1.5rem;
  }
}

.last-name {
  color: $secondary-color;
}

@media (max-width: 40rem) {
  h1.lg-heading {
    font-size: 5rem;
    line-height: 4rem;
  }
  .text {
    display: inline-block;
    width: 80vw;
  }
}
@media (max-width: 34rem) {
  h1.lg-heading {
    font-size: 4.5rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  main#home {
    padding: 0;
    top: 12rem;
    text-align: center;
  }
  div.text {
    width: 100vw;
  }
}
@media (max-width: 28rem) {
  h1.lg-heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.2rem;
  }
  .sm-heading {
    font-size: 1rem;
  }
}
