@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  max-width: 70rem;
  @include background;
  background-color: $main-color;
  color: set-text-color($main-color);
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}
main {
  padding: 4rem;
  z-index: 2;
  position: relative;
  top: 9.3rem;
  .icons {
    a {
      display: inline-block;
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }
  &#home {
    overflow: hidden;
  }
}
h1,
h2 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    line-height: 5.4rem;
    margin: 0 0 1.3rem 0;
  }

  &.sm-heading {
    margin: 0;
    padding-bottom: 1.5rem;
  }
}

.last-name {
  color: $secondary-color;
}

// responsivnes

@media (max-width: 40rem) {
  h1.lg-heading {
    font-size: 5rem;
    line-height: 4rem;
  }
  .text {
    display: inline-block;
    width: 80vw;
  }
}

@media (max-width: 32rem) {
  h1.lg-heading {
    font-size: 4.5rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  main#home {
    padding: 0;
    top: 12rem;
    text-align: center;
  }
  div.text {
    width: 100vw;
  }

  //resposivnes of menu

  ul.menu-nav,
  div.menu-photo {
    float: none;
    z-index: 10;
    width: 100%;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    display: block;
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 1.8rem;
    line-height: 2.5rem;

    .nav-items {
      text-align: center;
      margin-top: 2rem;
    }
  }
  .menu-photo {
    display: block;
    height: 30vh;
    transform: translate3d(100%, 0, 0);
    text-align: center;
    & img {
      width: 150px;
      height: 150px;
      display: inline-block;
      margin: 2rem;
    }
  }
}

@media (max-width: 28rem) {
  h1.lg-heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.2rem;
  }
  .sm-heading {
    font-size: 1rem;
  }
}
